@font-face {
    font-family: 'Rounded_Elegance';
    font-display:swap;
    src: url('../fonts/Rounded_Elegance.eot');
    src: url('../fonts/Rounded_Elegance.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rounded_Elegance.woff') format('woff'),
    url('../fonts/Rounded_Elegance.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rounded_Elegance';
    font-display:swap;
    src: url('../fonts/Rounded_Elegance.eot');
    src: url('../fonts/Rounded_Elegance.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rounded_Elegance.woff') format('woff'),
    url('../fonts/Rounded_Elegance.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}